mixin videoBlock(item)
    .videoBlock
        a(href=routes.videoDetail(item.id))
            video.videoBlock__thumbnail(src=item.fileUrl, controls=true)
            h4.videoBlock__title=item.title
            h6.videoBlock__videos=item.views
